.container{
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
}

.box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
   
   
    margin:2rem;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 5px 5px 50px grey;
}

.header {
    font-weight: 500;
    font-family: montserrat;
    font-size: 15px;
}